/* CSS Document */
body {
	width: 800px;
	margin: 10px auto;
	background-color: darkgrey;
}

.video{
	width:700px;
}
.video-source{
	width: 700px;
}
.video-controler {
	float: left;
}

.video-renge{
	width: 410px;
}

.video-time {

}


